.countries_in{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    min-height: 800px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.country{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    line-height: 0.2px;
    margin-bottom: 3%;
}

img{
    width: 80%;
}

.btn{
    margin-top: 1%;
    text-decoration: none;
}