.header_in{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    min-height: 600px;
    background-image: url('https://www.vectorlogo.zone/logos/un/un-ar21.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    font-weight: 300;
    border: none;
    background-color: rgb(135, 135, 135);
    width: 40%;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(54, 54, 54);
    padding-left: 2%;
}